################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/InsiteCommerce.Web/bin
/src/InsiteCommerce.Web/obj/Debug
/src/InSiteCommerce.Web/_SystemResources/Themes/**/*.js
/src/InSiteCommerce.Web/_SystemResources/Themes/**/*.js.map
/src/packages
/src/.vs/InSiteCommerce
/install.log
/.rnd
/src/InsiteCommerce.Web/.sass-cache
/src/InsiteCommerce.Web/node_modules
/src/InsiteCommerce.Web/Themes/Employee/obj/Debug
/src/InsiteCommerce.Web/Themes/Employee/Styles/base.css
/src/InsiteCommerce.Web/Themes/Employee/Styles/base.css.map

/src/InsiteCommerce.Web/Themes/Employee/Styles/template/*.css
/src/InsiteCommerce.Web/Themes/Employee/Styles/template/*.css.map

/src/InsiteCommerce.Web/Themes/Employee/Employee.csproj.user
/src/InsiteCommerce.Web/package-lock.json
/src/InsiteCommerce.Web/Themes/Employee/bin
/src/LeggettAndPlatt.Extensions/obj/Debug
/src/LeggettAndPlatt.Extensions/bin/Debug
/src/LeggettAndPlatt.FTP/obj/Debug
/src/LeggettAndPlatt.FTP/bin/Debug
/src/LeggettAndPlatt.Integration/obj/Debug
/src/LeggettAndPlatt.Integration/bin/Debug
/src/LeggettAndPlatt.IntegrationProcessor/obj/Debug
/src/LeggettAndPlatt.IntegrationProcessor/bin/Debug
/src/LeggettAndPlatt.PinPointe/obj/Debug
/src/LeggettAndPlatt.PinPointe/bin/Debug
/src/LeggettAndPlatt.Test/obj/Debug
/src/LeggettAndPlatt.Test/bin/Debug
/src/LeggettAndPlatt.Vertex/obj/Debug
/src/LeggettAndPlatt.Vertex/bin/Debug
/src/InsiteCommerce.Web/Themes/**/*.js
/src/InsiteCommerce.Web/Themes/**/*.map
