<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculateTax70SoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="CalculateTax70SoapBinding1" />
                <binding name="LookupTaxAreas70SoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="LookupTaxAreas70SoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://10.21.9.59:8443/vertex-ws/services/CalculateTax70"
                binding="basicHttpBinding" bindingConfiguration="CalculateTax70SoapBinding"
                contract="CalculateTax70Service.CalculateTaxWS70" name="CalculateTax70" />
            <endpoint address="https://10.21.9.59:8443/vertex-ws/services/LookupTaxAreas70"
                binding="basicHttpBinding" bindingConfiguration="LookupTaxAreas70SoapBinding"
                contract="LookupTaxAreas70Service.LookupTaxAreasWS70" name="LookupTaxAreas70" />
        </client>
    </system.serviceModel>-->
</configuration>